* {
  border: none;
  font-family: "Noto Sans CJK JP", sans-serif;
  min-height: 0;
}

window#waybar {
  background: none;
  color: #fff;
}

#cpu,
#memory,
#temperature,
#clock.date,
#backlight,
#battery,
#window {
  font-size: 9px;
  font-weight: bold;
  color: #fff;
}


/* left modules */
#cpu,
#memory,
#temperature {
  margin-left: 20px;
}

#custom-arch {
  font-size: 14px;
  padding: 0 10px;
  color: rgb(23, 147, 209);
  margin-right: 15px;
}

#workspaces {
  margin: 0;
  background: transparent;
  border-radius: 9px 0 0 9px;
}

#workspaces button {
  padding: 0 8px;
  color: #bebebe;
  font-size: 10px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 9px;
  box-shadow: none;
}

#workspaces button:hover {
  background: rgba(60, 60, 60, 0.5);
}

#workspaces button.active {
  border-color: rgba(255, 255, 255, 0.5);
}

#window {
  background: rgba(40, 40, 40, 0.7);
  border-radius: 0 9px 9px 0;
  padding: 0 10px;
  margin-left: 1px;
}


/* center module */
#clock {
  background: none;
  padding: 0 10px;
  font-weight: bold;
  font-size: 12px;
}


/* right modules */
#mpris,
#wireplumber {
  font-size: 10px;
  font-weight: 600;
  padding: 0 10px;
}

#clock.date {
  margin-right: 45px;
}

#backlight {
  margin-right: 10px;
}

#battery {
  margin-right: 20px;
}

#custom-spotify {
  margin-right: 15px;
  color: rgb(29, 185, 84);
  font-size: 14px;
}

#mpris {
  margin-right: 1px;
  background: linear-gradient(to right, rgba(29, 185, 84, 0.2), rgba(191, 191, 191, 0.2));
  border-radius: 9px 0 0 9px;
}

#wireplumber {
  margin-right: 10px;
  background: rgba(191, 191, 191, 0.2);
  border-radius: 0 9px 9px 0;
}
